In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [25]:
filepath = './meter-readings-small_DOWNLOADED.csv'

In [26]:
df = pd.read_csv(filepath)
#df['Building'] = (df['Building'] == 'Sepulveda').astype(int)
df[df.select_dtypes(include=[np.number]) < 0] = np.nan
df = df.interpolate()
df

/tmp/ipykernel_3815/3339232331.py:4: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df = df.interpolate()

,id,l_id,Building,Address,Apt,AptSize,Bathrooms,MaxOccupants,Sqft,NumberConnect,...,7/29/13,8/12/13,8/26/13,9/16/13,9/27/13,10/11/13,10/25/13,11/8/13,11/22/13,12/6/13
0,3100101,NaN,Sawtelle,3100,101,3,2,6.0,NaN,2,...,83561,83677,83821,84087,84190.0,84338.0,84483,NaN,84733,84890.0
1,3100102,NaN,Sawtelle,3100,102,2,2,4.0,NaN,2,...,73633,73675,73703,73738,73793.0,73953.0,74146,NaN,74679,74977.0
2,3100103,132.000000,Sawtelle,3100,103,2,2,4.0,NaN,2,...,55828,55910,55997,56154,56221.0,56307.0,56386,NaN,56561,56651.0
3,3100201,126.666667,Sawtelle,3100,201,3,2,6.0,NaN,2,...,86879,86979,87082,87285,87372.0,87480.0,87597,NaN,87828,87964.0
4,3100202,121.333333,Sawtelle,3100,202,2,1,4.0,NaN,2,...,57688,57811,57961,58242,58351.0,58528.0,58662,NaN,59959,59121.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,3360308,44.000000,Sawtelle,3360,308,2,2,4.0,915.0,2,...,27020,27101,27189,27376,27447.0,27549.0,27627,43629.0,27784,27848.0
1100,3360309,44.000000,Sawtelle,3360,309,2,2,4.0,915.0,2,...,35914,36036,36189,36332,36480.0,36631.0,36716,43629.0,36928,37015.0
1101,3360310,44.000000,Sawtelle,3360,310,2,2,4.0,910.0,2,...,34790,34936,35095,35250,35331.0,35444.0,35566,43629.0,35827,36096.0
1102,3360311,44.000000,Sawtelle,3360,311,2,2,4.0,915.0,2,...,30891,30983,31198,31327,31418.0,31514.0,31624,43629.0,31803,31883.0
1103,3360312,44.000000,Sawtelle,3360,312,2,2,4.0,910.0,2,...,20300,20356,20368,20430,20469.0,20520.0,20577,43629.0,20694,20798.0

In [27]:
for i in range(14, 57):
    difference = df.iloc[:, i] - df.iloc[:, (i-1)] >= 0
    zero_exists = df.iloc[:, i].isin([0]).any().any() or df.iloc[:, (i-1)].isin([0]).any().any()
    print(difference.isin([True]).any().any() and not zero_exists)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [28]:
column_names = df.columns
print(column_names)

Index(['id', 'l_id', 'Building', 'Address', 'Apt', 'AptSize', 'Bathrooms',
       'MaxOccupants', 'Sqft', 'NumberConnect', '5/27/11', '6/27/11', '8/2/11',
       '8/30/11', '9/29/11', '10/27/11', '11/28/11', '1/26/12', '3/6/12',
       '4/3/12', '4/16/12', '5/1/12', '5/8/12', '5/22/12', '6/5/12', '6/19/12',
       '7/3/12', '7/17/12', '7/31/12', '8/14/12', '8/28/12', '9/11/12',
       '9/25/12', '10/11/12', '10/25/12', '11/15/12', '12/6/12', '2/21/13',
       '3/14/13', '4/4/13', '4/18/13', '5/2/13', '5/16/13', '5/30/13',
       '6/13/13', '7/1/13', '7/15/13', '7/29/13', '8/12/13', '8/26/13',
       '9/16/13', '9/27/13', '10/11/13', '10/25/13', '11/8/13', '11/22/13',
       '12/6/13'],
      dtype='object')

In [29]:
twelve_month_df = df.iloc[:, 17:38]
building_df = df.loc[ : , 'Building']
subset_df = twelve_month_df.join(building_df)
print(subset_df)

      1/26/12  3/6/12  4/3/12  4/16/12  5/1/12  5/8/12  5/22/12  6/5/12  \
0       78242   78621   78897    79012   79161   79221    79323   79456
1       69961   70211   70403    70519   70628   70673    70745   70852
2       51890   52150   52359    52459   52566   52619    52739   52832
3       82528   82837   83081    83198   83304   83356    83463   83571
4       52321   52667   52902    53009   53149   53206    53340   53545
...       ...     ...     ...      ...     ...     ...      ...     ...
1099    24228   24336   24433    24478   24523   24546    24606   24663
1100    30971   31546   31909    32052   32228   32317    32499   32728
1101    29477   29953   30327    30478   30575   30616    30722   30824
1102    28072   28169   28306    28368   28403   28440    28484   28530
1103    17407   17635   17781    17850   17919   17955    18028   18095

      6/19/12  7/3/12  ...  8/14/12  8/28/12  9/11/12  9/25/12  10/11/12  \
0       79567   79726  ...    80104    80297    80482    80649     80826
1       70943   71038  ...    71347    71484    71580    71736     71841
2       52932   53023  ...    53347    53461    53585    53711     53818
3       83681   83797  ...    84144    84243    84354    84459     84571
4       53770   53958  ...    54271    54358    54492    54622     54746
...       ...     ...  ...      ...      ...      ...      ...       ...
1099    24725   24787  ...    24993    25068    25167    25251     25318
1100    33099   33243  ...    33554    33585    33726    33870     33998
1101    30925   31024  ...    31381    31500    31606    31720     31865
1102    28565   28596  ...    28774    28886    29008    29147     29262
1103    18161   18223  ...    18449    18528    18610    18692     18786

      10/25/12  11/15/12  12/6/12  2/21/13  Building
0        80968   81162.0    81345    82295  Sawtelle
1        71933   72068.0    72196    72721  Sawtelle
2        53906   54043.0    54178    54716  Sawtelle
3        84666   84829.0    85015    85753  Sawtelle
4        54969   55215.0    55301    56255  Sawtelle
...        ...       ...      ...      ...       ...
1099     25377   25473.0    25556    26083  Sawtelle
1100     34104   34262.0    34374    34575  Sawtelle
1101     31984   32192.0    32419    33399  Sawtelle
1102     29369   29521.0    29629    29999  Sawtelle
1103     18866   19086.0    19091    19581  Sawtelle

[1104 rows x 22 columns]

In [30]:
sawtelle_df = subset_df[subset_df['Building'] == "Sawtelle"]
sawtelle_df = sawtelle_df.drop("Building", axis=1)
sepulveda_df = subset_df[subset_df['Building'] == "Sepulveda"]
sepulveda_df = sepulveda_df.drop("Building", axis=1)
print(sawtelle_df)
print(sepulveda_df)

      1/26/12  3/6/12  4/3/12  4/16/12  5/1/12  5/8/12  5/22/12  6/5/12  \
0       78242   78621   78897    79012   79161   79221    79323   79456
1       69961   70211   70403    70519   70628   70673    70745   70852
2       51890   52150   52359    52459   52566   52619    52739   52832
3       82528   82837   83081    83198   83304   83356    83463   83571
4       52321   52667   52902    53009   53149   53206    53340   53545
...       ...     ...     ...      ...     ...     ...      ...     ...
1099    24228   24336   24433    24478   24523   24546    24606   24663
1100    30971   31546   31909    32052   32228   32317    32499   32728
1101    29477   29953   30327    30478   30575   30616    30722   30824
1102    28072   28169   28306    28368   28403   28440    28484   28530
1103    17407   17635   17781    17850   17919   17955    18028   18095

      6/19/12  7/3/12  ...  7/31/12  8/14/12  8/28/12  9/11/12  9/25/12  \
0       79567   79726  ...    79990    80104    80297    80482    80649
1       70943   71038  ...    71216    71347    71484    71580    71736
2       52932   53023  ...    53233    53347    53461    53585    53711
3       83681   83797  ...    84013    84144    84243    84354    84459
4       53770   53958  ...    54234    54271    54358    54492    54622
...       ...     ...  ...      ...      ...      ...      ...      ...
1099    24725   24787  ...    24926    24993    25068    25167    25251
1100    33099   33243  ...    33524    33554    33585    33726    33870
1101    30925   31024  ...    31213    31381    31500    31606    31720
1102    28565   28596  ...    28638    28774    28886    29008    29147
1103    18161   18223  ...    18364    18449    18528    18610    18692

      10/11/12  10/25/12  11/15/12  12/6/12  2/21/13
0        80826     80968   81162.0    81345    82295
1        71841     71933   72068.0    72196    72721
2        53818     53906   54043.0    54178    54716
3        84571     84666   84829.0    85015    85753
4        54746     54969   55215.0    55301    56255
...        ...       ...       ...      ...      ...
1099     25318     25377   25473.0    25556    26083
1100     33998     34104   34262.0    34374    34575
1101     31865     31984   32192.0    32419    33399
1102     29262     29369   29521.0    29629    29999
1103     18786     18866   19086.0    19091    19581

[651 rows x 21 columns]
     1/26/12  3/6/12  4/3/12  4/16/12  5/1/12  5/8/12  5/22/12  6/5/12  \
148    51449   51670   51850    51932   52007   52040    52108   52175
149    39126   39315   39453    39516   39570   39595    39647   39727
150    32363   32640   32884    32964   33058   33102    33195   33278
151    64741   64988   65141    65237   65322   65367    65444   65554
152    51377   51641   51843    51944   52043   52069    52122   52165
..       ...     ...     ...      ...     ...     ...      ...     ...
888    49314   49567   49766    50837   50911   50949    50020   50086
889    44132   44422   44604    44704   44822   44886    45044   45234
890    44856   45262   45435    45551   45658   45708    45865   46002
891    48087   48307   48448    48514   48581   48624    48733   48846
892    37371   37710   37927    38015   38084   38117    38191   38286

     6/19/12  7/3/12  ...  7/31/12  8/14/12  8/28/12  9/11/12  9/25/12  \
148    52240   52306  ...    52406    52520    52656    52719    52746
149    39793   39862  ...    40010    40087    40160    40233    40304
150    33350   33439  ...    33595    33673    33740    33789    33798
151    65634   65710  ...    65818    65859    65983    66117    66279
152    52207   52249  ...    52410    52629    52843    53088    53332
..       ...     ...  ...      ...      ...      ...      ...      ...
888    50162   50248  ...    50377    50381    50433    50475    50549
889    45391   45601  ...    45999    46246    46357    46604    46835
890    46089   46113  ...    46198    46259    46368    46496    46644
891    48989   49131  ...    49528    49796    50087    50400    50682
892    38402   38531  ...    38744    38895    39083    39285    39475

     10/11/12  10/25/12      11/15/12  12/6/12  2/21/13
148     52765     52784  52826.000000    52865    53306
149     40384     40451  40563.000000    40685    41220
150     33802     33803  33810.000000    33811    33819
151     66449     66597  66810.000000    67026    68049
152     53566     53761  54026.000000    54266    55078
..        ...       ...           ...      ...      ...
888     50675     50776  44966.136364    50978    51140
889     47042     47164  45898.909091    47565    48177
890     46769     46841  46831.681818    47038    47450
891     50984     51204  47764.454545    51677    52276
892     39663     39712  48697.227273    40227    41362

[453 rows x 21 columns]

In [31]:
t_stat, p_value = stats.ttest_ind(sawtelle_df, sepulveda_df)
print(f"p value: {p_value}")

p value: [2.71510871e-21 2.61540430e-21 2.90690920e-21 2.50146683e-21
 2.81800795e-21 3.10075044e-21 3.86083929e-21 4.13013597e-21
 4.43622324e-21 4.78286931e-21 4.96660798e-21 5.23865030e-21
 5.69723410e-21 6.24436977e-21 6.34459514e-21 6.52736299e-21
 7.12699041e-21 7.51139469e-21 4.74531976e-21 9.25005010e-21
 9.03395138e-21]