In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [48]:
filepath = './meter-readings-small_DOWNLOADED.csv'

In [49]:
df_original = pd.read_csv(filepath)
df = df_original.where(df_original.select_dtypes([np.number]) >= 0, np.nan)
df = df.infer_objects(copy=False).interpolate()
print(df)

           id        l_id  Building  Address  Apt  AptSize  Bathrooms  \
0     3100101         NaN       NaN     3100  101        3          2
1     3100102         NaN       NaN     3100  102        2          2
2     3100103  132.000000       NaN     3100  103        2          2
3     3100201  126.666667       NaN     3100  201        3          2
4     3100202  121.333333       NaN     3100  202        2          1
...       ...         ...       ...      ...  ...      ...        ...
1099  3360308   44.000000       NaN     3360  308        2          2
1100  3360309   44.000000       NaN     3360  309        2          2
1101  3360310   44.000000       NaN     3360  310        2          2
1102  3360311   44.000000       NaN     3360  311        2          2
1103  3360312   44.000000       NaN     3360  312        2          2

      MaxOccupants   Sqft  NumberConnect  ...  7/29/13  8/12/13  8/26/13  \
0              6.0    NaN              2  ...    83561    83677    83821
1              4.0    NaN              2  ...    73633    73675    73703
2              4.0    NaN              2  ...    55828    55910    55997
3              6.0    NaN              2  ...    86879    86979    87082
4              4.0    NaN              2  ...    57688    57811    57961
...            ...    ...            ...  ...      ...      ...      ...
1099           4.0  915.0              2  ...    27020    27101    27189
1100           4.0  915.0              2  ...    35914    36036    36189
1101           4.0  910.0              2  ...    34790    34936    35095
1102           4.0  915.0              2  ...    30891    30983    31198
1103           4.0  910.0              2  ...    20300    20356    20368

      9/16/13  9/27/13  10/11/13  10/25/13  11/8/13  11/22/13  12/6/13
0       84087  84190.0   84338.0     84483      NaN     84733  84890.0
1       73738  73793.0   73953.0     74146      NaN     74679  74977.0
2       56154  56221.0   56307.0     56386      NaN     56561  56651.0
3       87285  87372.0   87480.0     87597      NaN     87828  87964.0
4       58242  58351.0   58528.0     58662      NaN     59959  59121.0
...       ...      ...       ...       ...      ...       ...      ...
1099    27376  27447.0   27549.0     27627  43629.0     27784  27848.0
1100    36332  36480.0   36631.0     36716  43629.0     36928  37015.0
1101    35250  35331.0   35444.0     35566  43629.0     35827  36096.0
1102    31327  31418.0   31514.0     31624  43629.0     31803  31883.0
1103    20430  20469.0   20520.0     20577  43629.0     20694  20798.0

[1104 rows x 57 columns]

In [50]:
for i in range(14, 57):
    difference = df.iloc[:, i] - df.iloc[:, (i-1)] >= 0
    zero_exists = df.iloc[:, i].isin([0]).any().any() or df.iloc[:, (i-1)].isin([0]).any().any()
    print(difference.isin([True]).any().any() and not zero_exists)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [51]:
column_names = df.columns
print(column_names)

Index(['id', 'l_id', 'Building', 'Address', 'Apt', 'AptSize', 'Bathrooms',
       'MaxOccupants', 'Sqft', 'NumberConnect', '5/27/11', '6/27/11', '8/2/11',
       '8/30/11', '9/29/11', '10/27/11', '11/28/11', '1/26/12', '3/6/12',
       '4/3/12', '4/16/12', '5/1/12', '5/8/12', '5/22/12', '6/5/12', '6/19/12',
       '7/3/12', '7/17/12', '7/31/12', '8/14/12', '8/28/12', '9/11/12',
       '9/25/12', '10/11/12', '10/25/12', '11/15/12', '12/6/12', '2/21/13',
       '3/14/13', '4/4/13', '4/18/13', '5/2/13', '5/16/13', '5/30/13',
       '6/13/13', '7/1/13', '7/15/13', '7/29/13', '8/12/13', '8/26/13',
       '9/16/13', '9/27/13', '10/11/13', '10/25/13', '11/8/13', '11/22/13',
       '12/6/13'],
      dtype='object')

In [52]:
twelve_month_df = df.iloc[:, 17:38]
building_df = df_original.loc[ : , 'Building']
subset_df = twelve_month_df.join(building_df)
print(subset_df)

      1/26/12  3/6/12  4/3/12  4/16/12  5/1/12  5/8/12  5/22/12  6/5/12  \
0       78242   78621   78897    79012   79161   79221    79323   79456
1       69961   70211   70403    70519   70628   70673    70745   70852
2       51890   52150   52359    52459   52566   52619    52739   52832
3       82528   82837   83081    83198   83304   83356    83463   83571
4       52321   52667   52902    53009   53149   53206    53340   53545
...       ...     ...     ...      ...     ...     ...      ...     ...
1099    24228   24336   24433    24478   24523   24546    24606   24663
1100    30971   31546   31909    32052   32228   32317    32499   32728
1101    29477   29953   30327    30478   30575   30616    30722   30824
1102    28072   28169   28306    28368   28403   28440    28484   28530
1103    17407   17635   17781    17850   17919   17955    18028   18095

      6/19/12  7/3/12  ...  8/14/12  8/28/12  9/11/12  9/25/12  10/11/12  \
0       79567   79726  ...    80104    80297    80482    80649     80826
1       70943   71038  ...    71347    71484    71580    71736     71841
2       52932   53023  ...    53347    53461    53585    53711     53818
3       83681   83797  ...    84144    84243    84354    84459     84571
4       53770   53958  ...    54271    54358    54492    54622     54746
...       ...     ...  ...      ...      ...      ...      ...       ...
1099    24725   24787  ...    24993    25068    25167    25251     25318
1100    33099   33243  ...    33554    33585    33726    33870     33998
1101    30925   31024  ...    31381    31500    31606    31720     31865
1102    28565   28596  ...    28774    28886    29008    29147     29262
1103    18161   18223  ...    18449    18528    18610    18692     18786

      10/25/12  11/15/12  12/6/12  2/21/13  Building
0        80968   81162.0    81345    82295  Sawtelle
1        71933   72068.0    72196    72721  Sawtelle
2        53906   54043.0    54178    54716  Sawtelle
3        84666   84829.0    85015    85753  Sawtelle
4        54969   55215.0    55301    56255  Sawtelle
...        ...       ...      ...      ...       ...
1099     25377   25473.0    25556    26083  Sawtelle
1100     34104   34262.0    34374    34575  Sawtelle
1101     31984   32192.0    32419    33399  Sawtelle
1102     29369   29521.0    29629    29999  Sawtelle
1103     18866   19086.0    19091    19581  Sawtelle

[1104 rows x 22 columns]

In [53]:
sawtelle_df = subset_df[subset_df['Building'] == "Sawtelle"]
sawtelle_df = sawtelle_df.drop("Building", axis=1)
sepulveda_df = subset_df[subset_df['Building'] == "Sepulveda"]
sepulveda_df = sepulveda_df.drop("Building", axis=1)
print(sawtelle_df)
print(sepulveda_df)

      1/26/12  3/6/12  4/3/12  4/16/12  5/1/12  5/8/12  5/22/12  6/5/12  \
0       78242   78621   78897    79012   79161   79221    79323   79456
1       69961   70211   70403    70519   70628   70673    70745   70852
2       51890   52150   52359    52459   52566   52619    52739   52832
3       82528   82837   83081    83198   83304   83356    83463   83571
4       52321   52667   52902    53009   53149   53206    53340   53545
...       ...     ...     ...      ...     ...     ...      ...     ...
1099    24228   24336   24433    24478   24523   24546    24606   24663
1100    30971   31546   31909    32052   32228   32317    32499   32728
1101    29477   29953   30327    30478   30575   30616    30722   30824
1102    28072   28169   28306    28368   28403   28440    28484   28530
1103    17407   17635   17781    17850   17919   17955    18028   18095

      6/19/12  7/3/12  ...  7/31/12  8/14/12  8/28/12  9/11/12  9/25/12  \
0       79567   79726  ...    79990    80104    80297    80482    80649
1       70943   71038  ...    71216    71347    71484    71580    71736
2       52932   53023  ...    53233    53347    53461    53585    53711
3       83681   83797  ...    84013    84144    84243    84354    84459
4       53770   53958  ...    54234    54271    54358    54492    54622
...       ...     ...  ...      ...      ...      ...      ...      ...
1099    24725   24787  ...    24926    24993    25068    25167    25251
1100    33099   33243  ...    33524    33554    33585    33726    33870
1101    30925   31024  ...    31213    31381    31500    31606    31720
1102    28565   28596  ...    28638    28774    28886    29008    29147
1103    18161   18223  ...    18364    18449    18528    18610    18692

      10/11/12  10/25/12  11/15/12  12/6/12  2/21/13
0        80826     80968   81162.0    81345    82295
1        71841     71933   72068.0    72196    72721
2        53818     53906   54043.0    54178    54716
3        84571     84666   84829.0    85015    85753
4        54746     54969   55215.0    55301    56255
...        ...       ...       ...      ...      ...
1099     25318     25377   25473.0    25556    26083
1100     33998     34104   34262.0    34374    34575
1101     31865     31984   32192.0    32419    33399
1102     29262     29369   29521.0    29629    29999
1103     18786     18866   19086.0    19091    19581

[651 rows x 21 columns]
     1/26/12  3/6/12  4/3/12  4/16/12  5/1/12  5/8/12  5/22/12  6/5/12  \
148    51449   51670   51850    51932   52007   52040    52108   52175
149    39126   39315   39453    39516   39570   39595    39647   39727
150    32363   32640   32884    32964   33058   33102    33195   33278
151    64741   64988   65141    65237   65322   65367    65444   65554
152    51377   51641   51843    51944   52043   52069    52122   52165
..       ...     ...     ...      ...     ...     ...      ...     ...
888    49314   49567   49766    50837   50911   50949    50020   50086
889    44132   44422   44604    44704   44822   44886    45044   45234
890    44856   45262   45435    45551   45658   45708    45865   46002
891    48087   48307   48448    48514   48581   48624    48733   48846
892    37371   37710   37927    38015   38084   38117    38191   38286

     6/19/12  7/3/12  ...  7/31/12  8/14/12  8/28/12  9/11/12  9/25/12  \
148    52240   52306  ...    52406    52520    52656    52719    52746
149    39793   39862  ...    40010    40087    40160    40233    40304
150    33350   33439  ...    33595    33673    33740    33789    33798
151    65634   65710  ...    65818    65859    65983    66117    66279
152    52207   52249  ...    52410    52629    52843    53088    53332
..       ...     ...  ...      ...      ...      ...      ...      ...
888    50162   50248  ...    50377    50381    50433    50475    50549
889    45391   45601  ...    45999    46246    46357    46604    46835
890    46089   46113  ...    46198    46259    46368    46496    46644
891    48989   49131  ...    49528    49796    50087    50400    50682
892    38402   38531  ...    38744    38895    39083    39285    39475

     10/11/12  10/25/12      11/15/12  12/6/12  2/21/13
148     52765     52784  52826.000000    52865    53306
149     40384     40451  40563.000000    40685    41220
150     33802     33803  33810.000000    33811    33819
151     66449     66597  66810.000000    67026    68049
152     53566     53761  54026.000000    54266    55078
..        ...       ...           ...      ...      ...
888     50675     50776  44966.136364    50978    51140
889     47042     47164  45898.909091    47565    48177
890     46769     46841  46831.681818    47038    47450
891     50984     51204  47764.454545    51677    52276
892     39663     39712  48697.227273    40227    41362

[453 rows x 21 columns]

In [54]:
t_stat, p_value = stats.ttest_ind(sawtelle_df, sepulveda_df)
print(f"p value: {p_value}")

p value: [2.71510871e-21 2.61540430e-21 2.90690920e-21 2.50146683e-21
 2.81800795e-21 3.10075044e-21 3.86083929e-21 4.13013597e-21
 4.43622324e-21 4.78286931e-21 4.96660798e-21 5.23865030e-21
 5.69723410e-21 6.24436977e-21 6.34459514e-21 6.52736299e-21
 7.12699041e-21 7.51139469e-21 4.74531976e-21 9.25005010e-21
 9.03395138e-21]

In [55]:
apt_size_df = df.loc[ : , 'AptSize']
bathrooms_df = df.loc[ : , 'Bathrooms']
occupants_df = df.loc[ : , 'MaxOccupants']
sqft_df = df.loc[ : , 'Sqft']

In [56]:
def unique_names(df):
    print(df.unique())

unique_names(apt_size_df)
unique_names(bathrooms_df)
unique_names(occupants_df)
unique_names(sqft_df)

[3 2 1]
[2 1]
[6. 4. 3.]
[  nan  790.  935.  890.  845.  595. 1035.  830.  635.  910.  915.  918.]

In [57]:
apt_size3_df = df[df['AptSize'] == 3]
apt_size2_df = df[df['AptSize'] == 2]
apt_size1_df = df[df['AptSize'] == 1]
bathrooms2_df = df[df['Bathrooms'] == 2]
bathrooms1_df = df[df['Bathrooms'] == 1]
occupants6_df = df[df['MaxOccupants'] == 6]
occupants4_df = df[df['MaxOccupants'] == 4]
occupants3_df = df[df['MaxOccupants'] == 3]

In [58]:
def get_p_value(df1, df2):
    t_stat, p_value = stats.ttest_ind(df1, df2)
    print(f"p_value: {p_value}")

In [59]:
get_p_value(apt_size1_df, apt_size2_df)
get_p_value(apt_size1_df, apt_size3_df)
get_p_value(apt_size2_df, apt_size3_df)
get_p_value(bathrooms1_df, bathrooms2_df)
get_p_value(occupants3_df,occupants4_df)
get_p_value(occupants3_df, occupants6_df)
get_p_value(occupants4_df, occupants6_df)

p_value: [8.16071583e-07            nan            nan 8.13185156e-07
 4.70004805e-01 0.00000000e+00 9.12450473e-39 0.00000000e+00
            nan 0.00000000e+00 1.57493963e-06            nan
            nan 7.76589539e-07 6.95424345e-07 6.47345163e-07
 5.83809470e-07 4.40186535e-07 3.80113575e-07 3.42203966e-07
 3.25937313e-07 3.18253274e-07 3.13928585e-07 3.06793215e-07
 2.95575232e-07 2.87054013e-07 2.74060434e-07 2.61194334e-07
 2.49670674e-07 2.40027198e-07 2.27107547e-07 2.13036533e-07
 1.96952065e-07 1.82738778e-07 1.69955834e-07 1.06829692e-07
 1.36025197e-07 9.87247124e-08 9.01721186e-08 8.19001983e-08
 7.92554649e-08 7.65842053e-08 7.20212958e-08 7.03971813e-08
 6.47254710e-08 6.16932346e-08 5.91233876e-08 5.65014449e-08
 5.43120188e-08 5.21698756e-08 5.83743832e-08 4.14374882e-07
 1.17885189e-02 4.42583490e-08            nan 4.72495754e-08
 6.88895045e-05]
p_value: [2.27658487e-002             nan             nan 2.26612294e-002
 1.96678706e-001 0.00000000e+000 0.00000000e+000 1.16745273e-104
             nan 2.25576265e-103 6.13424208e-031             nan
             nan 2.77433073e-034 2.20801956e-034 1.89697344e-034
 1.46487769e-034 9.81676783e-035 5.47029178e-035 4.23847346e-035
 3.94350956e-035 3.74351240e-035 3.60444355e-035 3.48325822e-035
 3.31507908e-035 3.30017280e-035 3.28701599e-035 3.24256002e-035
 3.42067623e-035 3.66523656e-035 3.29354542e-035 2.83762982e-035
 2.16336702e-035 1.78971921e-035 1.54989284e-035 3.29657594e-034
 9.69750514e-036 7.32402322e-036 5.92166614e-036 5.17494508e-036
 4.77602744e-036 4.31272808e-036 3.08189406e-036 2.81412188e-036
 2.47664558e-036 2.15520659e-036 2.06847154e-036 2.00208413e-036
 1.94000571e-036 1.64470151e-036 1.19939803e-036 1.67683047e-026
 1.27778623e-008 4.18095621e-037             nan 1.27707266e-034
 9.56779506e-037]

/home/itachi/GitHub/PUBP-3042-Code/venv/lib/python3.11/site-packages/scipy/stats/_axis_nan_policy.py:648: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  return result_to_tuple(hypotest_fun_out(*samples, **kwds), n_out)

p_value: [1.03602374e-01            nan            nan 1.03866042e-01
 2.98783473e-01 0.00000000e+00 1.95720612e-06 0.00000000e+00
            nan 1.19518321e-05 9.00467100e-24            nan
            nan 8.30629094e-26 5.17144109e-26 4.25470968e-26
 3.57574742e-26 3.02447378e-26 1.49346224e-26 1.10680335e-26
 1.04888355e-26 9.37559754e-27 8.63760935e-27 7.41364479e-27
 6.72387802e-27 5.92230571e-27 5.62846320e-27 5.47708139e-27
 5.51016431e-27 5.16583130e-27 4.02824012e-27 3.05746658e-27
 2.24748131e-27 1.79147091e-27 1.52303525e-27 1.06118669e-25
 8.80580820e-28 3.65700889e-28 2.96192115e-28 2.31000516e-28
 1.97046646e-28 1.60109528e-28 1.10127554e-28 7.97363423e-29
 6.00385496e-29 3.61033669e-29 2.76226531e-29 2.15554431e-29
 1.66329522e-29 1.25147408e-29 8.36623229e-30 5.12665946e-21
 3.33950973e-06 1.10609695e-29            nan 2.40164652e-27
 6.55067799e-15]
p_value: [3.87073254e-19            nan            nan 3.84633434e-19
 4.34987140e-01 3.04790795e-42 0.00000000e+00 3.75472658e-30
            nan 2.00526679e-41 7.38174772e-01            nan
            nan 4.70561046e-01 4.49830805e-01 4.37705520e-01
 4.23382937e-01 3.93163631e-01 3.71512911e-01 3.61526425e-01
 3.53687666e-01 3.47652338e-01 3.43993082e-01 3.43108058e-01
 3.36572262e-01 3.29887849e-01 3.22180407e-01 3.14023525e-01
 3.03001586e-01 2.91918712e-01 2.79967840e-01 2.73642914e-01
 2.64163758e-01 2.53219523e-01 2.44686617e-01 4.73689242e-01
 2.26509936e-01 2.04445173e-01 1.98654237e-01 1.92518443e-01
 1.88537610e-01 1.83580618e-01 1.74884675e-01 1.63921872e-01
 1.59573345e-01 1.48788270e-01 1.41688955e-01 1.35713940e-01
 1.30279418e-01 1.23973095e-01 9.63452846e-02 5.33725629e-01
 4.11649331e-03 1.24536432e-01            nan 1.70126122e-01
 1.26229108e-01]
p_value: [7.67461870e-07            nan            nan 7.64768955e-07
 4.75055012e-01 0.00000000e+00 7.11879771e-39 0.00000000e+00
            nan 0.00000000e+00 1.58786151e-06            nan
            nan 7.00169064e-07 6.26783374e-07 5.83196742e-07
 5.25831501e-07 3.96488511e-07 3.42228268e-07 3.07998264e-07
 2.93316196e-07 2.86364977e-07 2.82450855e-07 2.75994637e-07
 2.65863959e-07 2.58188016e-07 2.46482532e-07 2.34896080e-07
 2.24522016e-07 2.15840917e-07 2.04193650e-07 1.91509954e-07
 1.77005456e-07 1.64173175e-07 1.52638151e-07 9.58302953e-08
 1.22040222e-07 8.85509307e-08 8.08499889e-08 7.34039205e-08
 7.10181072e-08 6.86107837e-08 6.44248500e-08 6.29610072e-08
 5.78713245e-08 5.51439443e-08 5.28336118e-08 5.04787171e-08
 4.85132758e-08 4.65915248e-08 5.21331028e-08 3.71910210e-07
 1.17282814e-02 3.94956723e-08            nan 4.21633458e-08
 6.36719516e-05]
p_value: [3.92482291e-002             nan             nan 3.90660702e-002
 1.58175678e-001 0.00000000e+000 0.00000000e+000 0.00000000e+000
             nan 3.26059379e-101 5.64112525e-033             nan
             nan 1.67664752e-033 1.33711032e-033 1.17665375e-033
 9.14663787e-034 5.97177224e-034 3.36676817e-034 2.64954481e-034
 2.48202999e-034 2.37360806e-034 2.29528956e-034 2.23537141e-034
 2.14193939e-034 2.13532889e-034 2.13559708e-034 2.11253448e-034
 2.22117512e-034 2.35930784e-034 2.09871737e-034 1.78912055e-034
 1.35757402e-034 1.12818149e-034 9.82277687e-035 2.23127831e-033
 6.26409043e-035 4.45649025e-035 3.63350892e-035 3.19089693e-035
 2.96060701e-035 2.68609253e-035 2.15875977e-035 1.97665845e-035
 1.74833417e-035 1.53356691e-035 1.48532848e-035 1.44439010e-035
 1.40259976e-035 1.19360322e-035 8.75970588e-036 1.06363239e-025
 8.38650453e-009 3.18540931e-036             nan 9.81389307e-034
 7.17321620e-036]
p_value: [7.33257258e-02            nan            nan 7.35557819e-02
 2.30452020e-01 0.00000000e+00 3.19767607e-06 0.00000000e+00
            nan 7.73319935e-06 2.66017609e-24            nan
            nan 7.08331339e-25 4.48436577e-25 3.83208323e-25
 3.28070683e-25 2.80687222e-25 1.43355646e-25 1.10090508e-25
 1.05648331e-25 9.57447491e-26 8.88876487e-26 7.75701844e-26
 7.11784580e-26 6.34460724e-26 6.11882128e-26 6.02005947e-26
 6.03534589e-26 5.57985370e-26 4.25338439e-26 3.15000248e-26
 2.27264888e-26 1.79451878e-26 1.51560187e-26 1.05932452e-24
 8.66774767e-27 3.35572129e-27 2.72350762e-27 2.11624492e-27
 1.80770369e-27 1.47449914e-27 1.15085350e-27 8.37810498e-28
 6.34648945e-28 3.87969754e-28 3.01015271e-28 2.36299786e-28
 1.83083651e-28 1.38518354e-28 9.29755664e-29 4.41833628e-20
 1.93173907e-06 1.24356121e-28            nan 2.60876026e-26
 1.98322178e-14]

In [60]:
df['block'] = df.groupby(["Bathrooms"]).ngroup()
print(df)

           id        l_id  Building  Address  Apt  AptSize  Bathrooms  \
0     3100101         NaN       NaN     3100  101        3          2
1     3100102         NaN       NaN     3100  102        2          2
2     3100103  132.000000       NaN     3100  103        2          2
3     3100201  126.666667       NaN     3100  201        3          2
4     3100202  121.333333       NaN     3100  202        2          1
...       ...         ...       ...      ...  ...      ...        ...
1099  3360308   44.000000       NaN     3360  308        2          2
1100  3360309   44.000000       NaN     3360  309        2          2
1101  3360310   44.000000       NaN     3360  310        2          2
1102  3360311   44.000000       NaN     3360  311        2          2
1103  3360312   44.000000       NaN     3360  312        2          2

      MaxOccupants   Sqft  NumberConnect  ...  8/12/13  8/26/13  9/16/13  \
0              6.0    NaN              2  ...    83677    83821    84087
1              4.0    NaN              2  ...    73675    73703    73738
2              4.0    NaN              2  ...    55910    55997    56154
3              6.0    NaN              2  ...    86979    87082    87285
4              4.0    NaN              2  ...    57811    57961    58242
...            ...    ...            ...  ...      ...      ...      ...
1099           4.0  915.0              2  ...    27101    27189    27376
1100           4.0  915.0              2  ...    36036    36189    36332
1101           4.0  910.0              2  ...    34936    35095    35250
1102           4.0  915.0              2  ...    30983    31198    31327
1103           4.0  910.0              2  ...    20356    20368    20430

      9/27/13  10/11/13  10/25/13  11/8/13  11/22/13  12/6/13  block
0     84190.0   84338.0     84483      NaN     84733  84890.0      1
1     73793.0   73953.0     74146      NaN     74679  74977.0      1
2     56221.0   56307.0     56386      NaN     56561  56651.0      1
3     87372.0   87480.0     87597      NaN     87828  87964.0      1
4     58351.0   58528.0     58662      NaN     59959  59121.0      0
...       ...       ...       ...      ...       ...      ...    ...
1099  27447.0   27549.0     27627  43629.0     27784  27848.0      1
1100  36480.0   36631.0     36716  43629.0     36928  37015.0      1
1101  35331.0   35444.0     35566  43629.0     35827  36096.0      1
1102  31418.0   31514.0     31624  43629.0     31803  31883.0      1
1103  20469.0   20520.0     20577  43629.0     20694  20798.0      1

[1104 rows x 58 columns]

In [61]:
df['treatment'] = np.random.permutation([1] * (len(df) // 2) + [0] * (len(df) - len(df) // 2))

df_treatment = df[df['treatment'] == 1].reset_index(drop=True)
df_observer = df[df['treatment'] == 0].reset_index(drop=True)

get_p_value(df_treatment, df_observer)

p_value: [0.794074          nan        nan 0.79419828 0.89412692 0.8625103
 0.52787869 0.95229699        nan 0.49709855 0.92188253        nan
        nan 0.93863852 0.93823051 0.9451157  0.95434469 0.9648866
 0.97765892 0.98332437 0.98618825 0.98445428 0.98845662 0.99264053
 0.99374512 0.99718677 0.99662886 0.99233662 0.98866332 0.9890061
 0.98900562 0.98612861 0.98978711 0.99295731 0.99320038 0.61769874
 0.99575231 0.98621222 0.98673691 0.98491059 0.98408716 0.98302702
 0.98077513 0.9868441  0.9807029  0.97910247 0.98264137 0.98347097
 0.98612398 0.98855105 0.94065393 0.72344046 0.93420569 0.89040121
        nan 0.86914391 0.49129245 0.52787869 0.        ]

/home/itachi/GitHub/PUBP-3042-Code/venv/lib/python3.11/site-packages/scipy/stats/_axis_nan_policy.py:648: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  return result_to_tuple(hypotest_fun_out(*samples, **kwds), n_out)